version: '3.8'

services:
  app:
    container_name: karasu-lab-identity-api
    image: hashibutogarasu/karasu-lab-identity-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    env_file:
      - .env.production
    restart: always
