# fly.toml app configuration file generated for karasu-lab-identity-api on 2025-11-08T17:19:08+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'karasu-lab-identity-api'
primary_region = 'nrt'

[deploy]
  release_command = "npx prisma db push"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "15s"
  interval = "30s"
  method = "GET"
  path = "/api"
  timeout = "5s"

[[vm]]
  size = 'shared-cpu-1x'
